{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue-js | Django | Crud App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple crud app made with the vue js and django">

    <meta name="keywords" content="vuejs, django, crudapp, restapi">
    <link rel="shortcut icon" href="#" />


      {% load static %}
  
  <link rel="stylesheet" type="text/css" href="{% static 'configurator/style.css' %}">
  <script src="{% static 'configurator/configurator_1.js'%}"></script>

  </head>

  <body>

    {% include "nav.html" %}
    


    <div id="live_search">
          <h1>Smarthomeplaner</h1>
          <!-- search start-->
          <div class="form-inline my-2 my-lg-0" style="margin-left: 40%;">
            <select v-model="selected_category">
              <option disabled value=""> {% translate "Please select one" %}</option>
              <option value="None">{% translate "All Categories" %}</option>
              {% for category in categories %} 
              <option value="{{category.0}}">{{category.1}}</option>
              {% endfor %}
            </select>      
            <input class="form-control mr-sm-2" type="text" placeholder="{% translate "Search" %}" v-model="search_term" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" v-on:click.prevent="getSearchResults">{% translate "Search" %}</button>
         </div>

          <!-- search end -->
          <!-- device list start [device.firmware_set] -->
          <div id="images">
            <div v-for="device in devices">
              [device.name]   
          <img  v-on:dblclick="greet(device.name)" v-tooltip="message" :name="device.name" :title="device.name" :id="device.id" ondragstart="dragstart_handler(event)" ondrop="drop_handler(event)" draggable="true" :src="device.image" width="100" height="100"></img>

            </div>
      <!-- device list end -->

        </div>

        <div class="buttons">                
          <input type="hidden" id="csrf" value={{ csrf_token }} />
          <button class="btn btn-outline-success my-2 my-sm-0" v-on:click.prevent="save">{% translate "Save" %}</button>
          <button class="btn btn-outline-success my-2 my-sm-0" v-on:click.prevent="getCanvas">{% translate "Load" %}</button>          
        </div>
    </div>
    <!-- VUE END -->
          </div>
             
    <!--live search div end-->

              <div class="btn-group">
                <input list="room_names" id="room_name" /></label>
                <datalist >
                  <option value="Wohnzimmer"></option>
                  <option value="WC">
                  <option value="Kinderzimmer">
                </datalist>
                <button onclick="add_Room()">{% translate "Add Room" %}</button>
                <button class="btn btn-danger remove" onclick="remove_object()">{% translate "Remove" %}</button>
        </div>
        
        <main id="canvas-wrapper">
            <canvas id="canvas_object" width="1200" height="700"></canvas>
        </main>
    </div>


  <!-- vue.js files -->

  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js" integrity="sha512-otOZr2EcknK9a5aa3BbMR9XOjYKtxxscwyRHN6zmdXuRfJ5uApkHB7cz1laWk2g8RKLzV9qv/fl3RPwfCuoxHQ==" crossorigin="anonymous"></script>  
  <script src="https://unpkg.com/v-tooltip@2.0.2"></script>
  
  <script type="text/javascript">
    new Vue({
      
      el: '#live_search',
      delimiters: ['[',']'],
      data: {
        search_term: "",
        message: "",
        devices: [],
        selected_category: 'None',
        csrf_token: "",
        devices_json:{},
      },
      mounted: function() {
        this.getdevices();
      },
      methods: {
        getToken:function(){
          this.csrf_token = document.getElementById("csrf").value;
        },
        getdevices: function() {
          let api_base_url = '/api/devices/';
          axios.get(api_base_url)
              .then((response) => {
                this.devices = response.data;
              })
        },
        greet: function(device) {
          
          this.message = device + "<br>" + device;
          
        },
        getSearchResults: function() {          
          let api_base_url = '/api/devices/';
          let api_url = "";
          alert(this.selected_category);
          if(this.selected_category != "None"){
            api_url = api_base_url+"?name="+this.search_term+"&category="+this.selected_category;
          }else{
            api_url = api_base_url+"?name="+this.search_term;
          }
          
          axios.get(api_url)
              .then((response) => {
                this.devices = response.data;
                
              })
        },
        getPrivacyIssues: function() {
          let api_base_url = '/configurator/api/device/';
          let api_url = api_base_url+"?name="+this.search_term
          axios.get(api_url)
              .then((response) => {
                this.devices = response.data;
              })
        },
        save: function() {
          this.setCanvas();
          this.SaveRooms();
      },
        setCanvas: function() {
          this.getToken();
          axios({
          method: 'post',
          url: 'http://127.0.0.1:8000/configurator/setCanvas',
          headers:{
            "Content-Type": "application/x-www-form-urlencoded",
              'Accept': 'application/json',
              'X-CSRFToken': this.csrf_token
            },
          data: "canvas_map=" + JSON.stringify( canvas.toJSON(['id','name',"isDevice"]) )
        }).then ( function (response){ //success function
          console.log(response);
                  }
                )
      },
        getCanvas: function() {
          this.getToken();
          axios({
          method: 'post',
          url: 'http://127.0.0.1:8000/configurator/getCanvas',
          headers:{
            "Content-Type": "application/x-www-form-urlencoded",
              'Accept': 'application/json',
              'X-CSRFToken': this.csrf_token
            },
        }).then ( function (response){ //success function
          canvas.clear();
          canvas.loadFromJSON(response.data);
          canvas.renderAll(); 
          }
        
        )},
        SaveRooms: function() {
          this.getToken();
          axios({
          method: 'post',
          url: 'http://127.0.0.1:8000/configurator/saveRooms',
          headers:{
            "Content-Type": "application/x-www-form-urlencoded",
              'Accept': 'application/json',
              'X-CSRFToken': this.csrf_token
            },
          data: buildJSON()
        }).then ( function (response){ //success function
          console.log(response);
        }
        
        )},
      }
    });
  </script>



  </body>
</html>