{% extends "base.html" %}
{% load i18n %}

{% block stylesheets %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'configurator/configuration_style.css' %}">

{% endblock %}

{% block content %}

{% if not user.is_authenticated %}
<p>
  <a href="{% url 'account_signup' %}">{% translate "Please Register and configure a Smarthome first" %}</a>
</p>
{% elif table_information|length == 0  %}
<a href="{% url 'configurator:index' %}">{% translate "Please configure a Smarthome first." %}</a>

{% else %}


<br>
<div class="flex-container"> 

{% for room_name, table_data in table_information.items %} 
<div class="room"> 

<table>
<caption>{{ room_name }}</caption>

    <tr>
        <th>{% translate "Device" %}</th>
        <th>{% translate "Quantity" %}</th>
        <th>{% translate "Connector" %}</th>
        <th>{% translate "Picture" %}</th>
      </tr>
    <tr>    
{% for device_entry,color in table_data %} 
<td class= "{{color}}" ><a href="{% url 'smarthome:devices'%}{{device_entry.device.name }}/">{{ device_entry.device }}</a></td>
<td class= "{{color}}">{{ device_entry.quantity }} </td>
<td class= "{{color}}">{{ device_entry.connector }} </td>
<td><img draggable="false" src="/media/{{ device_entry.device.image }}" width="100" height="100"></img></td>

</tr>
{% endfor %}
</tr>
</table>
<p></p>
</div>


{% endfor %}
</div>
{% endif %}

{% endblock %}

