{% extends "base.html" %}

{% block stylesheets %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'configurator/configuration_style.css' %}">

{% endblock %}







{% block content %}


<br>
<div class="flex-container"> 

{% for room_name, devices in rooms.items %} 

<div class="room"> 


<table>
<caption>{{ room_name }}</caption>

    <tr>
        <th>Produkt</th>
        <th>Menge</th>
        <th>Anschluss</th>
        <th>Bild</th>
      </tr>
    <tr>    
{% for device in devices %} 
<td>{{ device.device }} </td>
<td>{{ device.quantity }} </td>
<td>{{ device.connector }} </td>
<td><img draggable="false" src="/media/{{ device.device.image }}" width="100" height="100"></img></td>

</tr>
{% endfor %}
</tr>
</table>
<p></p>
</div>


{% endfor %}
</div>



{% endblock %}
