{% extends "base.html" %}
{% load i18n %}


{% block stylesheets %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'configurator/configurator_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'configurator/style.css' %}">

{% endblock %}

{% block javascripts %}
{% load static %}
<script src="{% static 'configurator/configurator_1.js'%}"></script>
<script src="{% static 'configurator/configurator_2_vue.js'%}"></script>
<script src="{% static 'configurator/configurator_3.js'%}"></script>
<script src="https://kit.fontawesome.com/626e8c6de9.js" crossorigin="anonymous"></script>

{% endblock %}
{% block content %}
<div id="vue_app">
    <div class="search">
      <select v-model="selected_category">
        <option value="all" >{% translate "All Categories" %}</option>
        {% for category in categories %} 
        <option value="{{category}}">{{category}}</option>
        {% endfor %}
      </select>      
      <input  type="text"  placeholder="{% translate 'Search' %}" v-model="search_term" aria-label="Search">
      <button v-on:click.prevent="getSearchResults">{% translate "Search" %}</button>
   </div>
   <div class="devices">
      <div class="device_container" v-for="device in devices">
          <img  v-on:dblclick="getAdditionalInformation" :name="device.manufacturer +' '+  device.name" :title="device.name" 
          :id="device.id" ondragstart="dragstart_handler(event)" ondrop="drop_handler(event)" draggable="true" 
          :src="device.image">
           <div class="desc">    
              <a v-bind:href="base_url+device.name" target="_blank"> {[device.manufacturer]} {[device.name]}</a>
              <br>   
              <label for="connector">{% translate "Connector" %}:</label>
              <select class="dropdown" :id="'dropdown-' + device.id">
                <option v-for="connector in device.connector">
                {[connector["connector"]]} 
                </option>
              </select>            
            </div>
        </div>
      </div>
    <div v-if="seen == false ">{% translate "Double Click on a Device to Show vulnerabilities and Privacy Information " %}</div>
    <div v-else id="additional_informations" >      
            <table v-if="vulnerabilities.length">
              <caption> {[ vulnerabilities[0].device_id[0]["name"]  ]} </caption>              
              <tr>
                  <th>{% translate "Found" %}</th>
                  <th>{% translate "Description(Vulnerability)" %}</th>
                </tr>
              <tr>                             
              <tr v-for="vulnerability in vulnerabilities">
                  <td>{[vulnerability.discovery]} </td>
                  <td><a v-bind:href="vulnerability.paper_url" target="_blank">{[vulnerability.description]} </a></td>
              </tr>
          </table>
          <span v-else> {% translate "No Vulnerabilities found!" %} </span>
    <div class="data_protection">
      <table v-if="data_protection.length">
        <tr>
          <th>{% translate "Privacy Information" %}</th>
        </tr>
      <tr>                             
      <tr v-for="privacy_concern in data_protection">
          <td><a v-bind:href="privacy_concern.paper_url" target="_blank">{[privacy_concern.description]} </a></td>
      </tr>
      </table>
      <span v-else> {% translate "No Privacy Information found!" %} </span>
    </div>
  </div>
</div>



<div class="canvas_actions">
  <input type="hidden" id="csrf" value={{ csrf_token }} />
  <input type="color" id="room_color"value="#ff0000">
  <input id="room_name" list="room_names" type= "text" placeholder="{% translate 'Room Name' %}"/>
  <datalist id="room_names">
    <option>{% translate "Living Room" %}</option>
    <option>{% translate "Office" %}</option>
    <option>{% translate "Kitchen" %}</option>
    <option>{% translate "Bathroom" %}</option>
    <option>{% translate "Bedroom" %}</option>
  </datalist>
    <button class="add" onclick="add_Room()"><i class="fas fa-plus fa-1x"></i></button>
    <button title="{% translate 'undo' %}" class="undo" onclick="statemachine.removeState()"><i class="fas fa-undo fa-1x"></i></button>
    <button title="{% translate 'redo' %}" class="redo" onclick="statemachine.restoreState()"><i class="fas fa-redo fa-1x"></i></button>
    <button title="{% translate 'Remove Element(s)' %}" class="danger" onclick="remove_objects()"><i class="fas fa-trash fa-1x"></i></button>
    <button title="{% translate 'save Roomconfiguration' %}" class="save" onclick="saveConfiguration()"><i class="fas fa-save fa-1x"></i></button>
    <button title="{% translate 'load Roomconfiguration' %}" class="load" onclick="getCanvas()"><i class="fa fa-download fa-1x"></i></button>
    <span id="feedback_text"></span>
  </div>



<main id="canvas-wrapper" >
    <canvas id="canvas" width="2000" height="800"></canvas>
    <div id="CurrentCanvasObject">
      {% translate "  Hover über ein Gerät" %}
  </div>

</main>

</div>
{% endblock %}