{% extends "base.html" %}
{% load i18n %}


{% block stylesheets %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'configurator/configurator_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'configurator/style.css' %}">

{% endblock %}

{% block javascripts %}
{% load static %}
<script src="{% static 'configurator/configurator_1.js'%}"></script>
<script src="{% static 'configurator/configurator_2_vue.js'%}"></script>
<script src="{% static 'configurator/configurator_3.js'%}"></script>

{% endblock %}




{% block content %}
<div id="live_search">
    <h1>Smarthomeplaner</h1>
    <!-- search start-->
    <div class="form-inline my-2 my-lg-0" style="margin-left: 40%;">
      <select v-model="selected_category">
        <option disabled value=""> {% translate "Please select one" %}</option>
        <option value="all">{% translate "All Categories" %}</option>
        {% for category in categories %} 
        <option value="{{category}}">{{category}}</option>
        {% endfor %}
      </select>      
      <input class="form-control mr-sm-2" type="text" placeholder="{% translate "Search" %}" v-model="search_term" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" v-on:click.prevent="getSearchResults">{% translate "Search" %}</button>
   </div>
    <div class="responsive">
      <div class="device_container" v-for="device in devices">
          <img  v-on:dblclick="getAdditionalInformations" :name="device.name" :title="device.name" :id="device.id" ondragstart="dragstart_handler(event)" ondrop="drop_handler(event)" draggable="true" :src="device.image">
           <div class="desc">    
              <a v-bind:href="base_url+device.name" target="_blank"> {[device.name]} </a>
              <br>   
              <label for="connector">{% translate "Connector" %}:</label>
              <select class="dropdown" :id="'dropdown-' + device.id">
                <option v-for="connector in device.connector">
                {[connector]} 
                </option>
              </select>            
            </div>
        </div>
    </div>

    <div v-if="seen == false ">{% translate "Double Click on a Device to Show vulnerabilities and Privacy Issues " %}</div>
    <div v-else id="additional_informations" >      
            <table v-if="vulnerabilities.length">
              <caption> {[ vulnerabilities[0].device_id[0]["name"]  ]} </a></caption>
              <tr>
                  <th>{% translate "Vulnerability found" %}</th>
                  <th>{% translate "Vulnerability description" %}</th>
                  <th>{% translate "Vulnerability Patched" %}</th>
                </tr>
              <tr>                             
              <tr v-for="vulnerability in vulnerabilities">
                  <td>{[vulnerability.discovery]} </td>
                  <td><a v-bind:href="vulnerability.paper_url">{[vulnerability.description]} </a></td>
                  <td v-if="vulnerability.patch_date">{% translate "Yes" %} </td> 
                  <td v-else>{% translate "No " %} </td>
              </tr>          
          </table>
          <span v-else> {% translate "No Vulnerabilities found!" %} </span>

    <div class="privacy_information">
      <table v-if="privacy_issues.length">
        <tr>
          <th>{% translate "Privacy Issue found" %}</th>
          <th>{% translate "Privacy Issue description" %}</th>
          <th>{% translate "Privacy Issue Patched" %}</th>
        </tr>
      <tr>                             
      <tr v-for="privacy_issue in privacy_issues">
          <td>{[privacy_issue.discovery]} </td>
          <td><a v-bind:href="privacy_issue.paper_url">{[privacy_issue.description]} </a></td>
          <td v-if="privacy_issue.patch_date">{% translate "Yes" %} </td> 
          <td v-else>{% translate "No" %} </td>
      </tr>
      </table>
      <span v-else> {% translate "No Privacy Issues found!" %} </span>
    </div>
  </div>
</div>




<div class="buttons">                
  <input type="hidden" id="csrf" value={{ csrf_token }} />
  <button  onclick="SaveData()">{% translate "Save" %}</button>
  <button  onclick="getCanvas()">{% translate "Load" %}</button>          
</div>

<div id= "customValues">
  <input id="room_name" list="room_names" type= "text"/>
  <datalist id="room_names">
    <option>{% translate "Wohnzimmer" %}</option>
    <option>{% translate "Büro" %}</option>
    <option>{% translate "Küche" %}</option>
    <option>{% translate "WC" %}</option>
    <option>{% translate "Schlafzimmer" %}</option>
  </datalist>

  <input type="color" id="room_color"value="#ffffff">
  <label for="room_color"></label>{% translate "Room Color" %}</label>
</div>



<div class="btn-group">  
  <button onclick="add_Room()">{% translate "Add Room" %}</button>
  <button class="btn btn-danger remove" onclick="remove_objects()">{% translate "Remove Element(s)" %}</button>
</div>


<span id="CurrentCanvasObject">{% translate "Add Room" %} </span>
<main id="canvas-wrapper" >
    <canvas id="canvas_object" width="1800" height="800"></canvas>
</main>

</div>
{% endblock %}