{% extends "base.html" %}
{% load i18n %}


{% block stylesheets %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'configurator/configurator_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'configurator/style.css' %}">

{% endblock %}

{% block javascripts %}
{% load static %}
<script src="{% static 'configurator/configurator_1.js'%}"></script>
<script src="{% static 'configurator/configurator_2.js'%}"></script>
<script src="{% static 'configurator/configurator_3.js'%}"></script>

{% endblock %}




{% block content %}
<div id="live_search">
    <h1>Smarthomeplaner</h1>
    <!-- search start-->
    <div class="form-inline my-2 my-lg-0" style="margin-left: 40%;">
      <select v-model="selected_category">
        <option disabled value=""> {% translate "Please select one" %}</option>
        <option value="None">{% translate "All Categories" %}</option>
        {% for category in categories %} 
        <option value="{{category.0}}">{{category.1}}</option>
        {% endfor %}
      </select>      
      <input class="form-control mr-sm-2" type="text" placeholder="{% translate "Search" %}" v-model="search_term" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" v-on:click.prevent="getSearchResults">{% translate "Search" %}</button>
   </div>
    <!-- search end -->

    <!-- device list start [device.firmware_set] -->
    <div class="responsive">
      <div class="device_container" v-for="device in devices">
          <img :name="device.name" :title="device.name" :id="device.id" ondragstart="dragstart_handler(event)" ondrop="drop_handler(event)" draggable="true" :src="device.image">
           <div class="desc">    
              [device.name] <br>   
              <label for="connector">{% translate "Connector" %}:</label>
              <select class="dropdown" :id="'dropdown-' + device.id">
                <option v-for="connector in device.connector">
                [connector] 
                </option>
              </select>            
            </div>
        </div>
    </div>

    <div class="device_container" v-for="vulnerability in vulnerabilites">
      [vulnerability]
    </div>
    
    <div class="privacy_information" v-for="privacy_information in privacy_informations" >
      [privacy_information]
    </div>
</div>


<div class="buttons">                
  <input type="hidden" id="csrf" value={{ csrf_token }} />
  <button class="btn btn-outline-success my-2 my-sm-0" onclick="SaveData()">{% translate "Save" %}</button>
  <button class="btn btn-outline-success my-2 my-sm-0" onclick="getCanvas()">{% translate "Load" %}</button>          
</div>

<div class="btn-group">
  <input list="room_names" id="room_name" /></label>
  <datalist >
    <option value="Wohnzimmer"></option>
    <option value="WC">
    <option value="Kinderzimmer">
  </datalist>
  <button onclick="add_Room()">{% translate "Add Room" %}</button>
  <button class="btn btn-danger remove" onclick="remove_object()">{% translate "Remove Element" %}</button>
</div>


<span id="CurrentCanvasObject">{% translate "Add Room" %} </span>
<main id="canvas-wrapper">
    <canvas id="canvas_object" width="1200" height="700"></canvas>
</main>

</div>
{% endblock %}