  div.device_container img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100px;
    height: 100px;
  }

div.search{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42%;
}
  
div.devices{
  display:flex;
}


  div.desc {
    padding: 15px;
    text-align: center;
  }
 
  
input[list]{
  width: 110px;
}

#room_color {
  height: 19px;
  width: 20px;
}

.responsive{
    display: flex;
    flex-wrap: wrap;

}

.canvas_actions{
  padding-top: 10px;;
  display: inline-flex;

}

#button{
  border: none;
  margin: 0;
  padding: 0;
  border: 0;

  font-size: 0;
}


#canvas-wrapper{
  position:relative;
  border: none;
}

[tabindex] {
  outline: none !important;
}

#canvas {
  border: 3px solid black;
  
}

#CurrentCanvasObject{
  position:absolute;
  top: 2%;
  left: 20px;
}