<div id="vue_app">
    <li v-for="item in items" >
        {{ item.name }} <input type="checkbox" id="checkbox" v-model=" item.gekauft">  
    </li>
      <p> Folgende Artikel wurden noch nicht gekauft:
     <template v-for="item in items">
         <template v-if="! item.gekauft">{{ item.name }} </template>
     </template>
</div>

<script>
einkaufsliste = [
  {"name":"Milch", "gekauft":false},
  {"name":"Käse", "gekauft":false},
]
var vm = new Vue({
    el: '#vue_app',
    data: {
      items: einkaufsliste,
    }
  });
  </script>