

.red_row{
  background-color: #af0000;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }

.red-column{
  background-color: red;
}

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.room {
    padding-top: 2%;
    padding-right: 4%;
}  


caption { 
    display: table-caption;
    color: black;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
  }